language: ruby
cache:
- bundler
rvm: 2.2.2
notifications:
  email: false
  slack:
    secure: If9kP8Jz+ruQLRczTmTvQyc+qat/XqygwJyqau4zl1rovX4o5J3BUQkL1jYQjFCYcXKLWFBbFN4HQim/bgjDOXsrew5MV7/kAz7rQ327yexHAhhsCR0KNgnmNw6arzmHcHM5/Z3q7a3txTiM/qFbPp8pWv+BvghZ/syko3ke8QY=
    rooms:
      secure: TeLiusN5PBA5dvW4yw/6JlTVUZKtkCupLlzgDYjYUPGjD3uEcrok1VQ9/XI4o8BC2t92EeSsv301pK4lBbXErQ2NEdfCpF+Wphsp9zS+GAsV4e5T+nN8Ir9t2dZFS6ge5Uma5Ln/uNCC0A9PxWGiKelTGe7eUbGGhgdW1w+TSWflrV7IT+GqbK0q/EwS4yT9AvfCGp3/aKZwEnC8xSIVAkd3K+GOq0vv3schuzEBXHyn325qLC+RkJVUDfkva7nDkMKF/NyyTaSQSrQyMcYO9P7LY70oMfl204Y6q5EzrvMBDjC9RUL42SANCOgAx8Lr1biX/FQmn+ZXq3GsBmpj24fAqsi2Vq7h7ibSS0kkLAxSl89gVbH3WwbGj78KaKhYBDaq3Dd79YFlWIGX7HDPwZrza+TMom5/KV8qfBck2HOeGc+4XpQS0XAVD5BGlFviBxYmlYaeUuyGG60swrD5W1W1+LXFhzp750ieGD9GWTUD71yyMmwOFYVia1p03aQT2xKQ1a46rPY115ntjBj72DH588GV90WVyy5t5lQD6Ko9SecR0Nfnrr7/rnC9PwfmZyWA4xcjtD73I7HlEAcZJWGrszCBuunAg7+MoTNb5sFD8nB0h8nafoO7sW1u0tdUIcWZHV98HQZCs5VA3pgFbK8VMgxbguvBgYAXDxn4RJU=
